* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#body {
  height: 90%;
  width: 90%;
  outline: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#wrapper {
  height: 600px;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 3px;
  background-color: black;
}

.cell {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mark {
  font-size: 5rem;
}
