*{
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#body {
  height: 90%;
  width: 90%;
  outline: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#wrapper {
  height: 600px;
  width: 600px;
  outline: 1px solid black;
}